.create-account {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  
  .create-account .form-floating:focus-within {
    z-index: 2;
  }
  
  .create-account input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .create-account input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
 
.form-check {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}
svg {
    color:#2738B9; 
}

