body {
    background-color: whitesmoke;
}


nav {
    height: 60px;
    background-color: white;
}

/* make elements on nav evenly spaced */
nav a {
    padding-left:15px;
    padding-right:15px;
    font-size:10px;
}

.navbar-brand {
    font-size:17px !important;
    font-weight: 600; 
    color: #2738B9 !important;
}

.btn {
      margin-right:20px;
      background-color: #2738B9;
      font-weight: 500;
}

button {
    font-weight: 500;
    color: white;
    margin:2px;

}

#clear-button {
    background-color:white;
    color:#2738B9;
}


#event-header {
    margin-left:30px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.img-thumbnail {
    height:100%;
    width:100%;
    object-fit:contain;
    float:left;
}

.card-body {
    margin-left:20px;
}

#start_date {
    color: #2738B9;
    font-weight: 500;
}

.flash-msg {
    color: #2738B9;
    font-weight: 500;
}

.save-button {
    float:right;
    margin-bottom:10px;
}

#event-details {
    float:right;
    margin-bottom:10px;
    background-color:white;
    color:#2738B9;
}

.mt-5 {
    text-align:center;
}

#no-events-found {
    text-align:center;
}
