<!--add all app formatting here and extend into other html files-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
    <title>
    {% block title %}{% endblock %}
    </title>
    {%block head%}{% endblock %}   
    </head>

    <!--Add link to styles.css within <style> tags-->
    <style>          
    </style>


    <body>
        {% if session.get("user_id")%}
            <div>
                <a href ="/">Home</a>
                <a href = "user/<user_id>">My Profile</a>
                <a href = "/logout">Logout</a>
            </div>
        {% else %}
            <div>
                <a href ="/">Home</a>
                <a href = "/create-account">Create Account</a>
                <a href = "/login">Login</a>
            </div>
        {% endif %}

        <br>

        {% for msg in get_flashed_messages()%}
            <p class="flash-msg">
                {{ msg }}
            </p>
        {% endfor %}
        <br>
        <h1>Hello. It's the Civic App.</h1>
        
    {% block body %}{% endblock %}
    </body>
</html>
