<!--add all app formatting here and extend into other html files-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
    <title>
        {% block title %}{% endblock %}
    </title>
    {%block head%}{% endblock %}   
    </head>

    <!--Add link to styles.css within <style> tags-->
    <style>          
    </style>


    <body>
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
    </body>
</html>
