<!--This page is rendered when URL is "/" 
        and the user input is captured by "/create-account" app route-->

        {% extends 'base.html' %}

        {%block title %}Civic App Home{% endblock %}
        
        {% block body %}
        
            <br>
            <br>
            <h2>Create an Event</h2>
            
            <form action="/event-confirm" method ="POST">

                <!--input event name-->
                <p> <label>Event Name</label>
                  <input type="text" name="name">
                </p> 

                <!--ask for event category (1)-->
                <p>                     
                    <label>Event Category</label>
                    <select name="category">
                        <option value="watermelon">Watermelon</option>
                        <option value="canteloupe">Canteloupe</option>
                        <option value="honeydew">Honeydew</option>
                    </select> 
                    <br><br>
                    </p>
                    
                <!--input day of event // can I add a calendar here?-->
                <p>
                    <label>Event Date</label>
                    <input type="datetime-local" name="start_date">
                </p> 

                
                <!--input address/location of event-->
                <p>
                    <label>Location</label>
                    <input type="text" name="address">
                </p>

                 <!--input event description-->
                 <p>
                    <label>Description of Event</label>
                    <br>
                    <textarea name="description" cols="50" rows="5"></textarea>                </p>
                <br>

                <!--prompt user to upload an image for the event-->
                <p><input type = "file" accept="image/*" name = "image" id = "file" onchange = "loadFile(event)" style="display": none;"></p>
                   <p><label for="file" style="cursor": pointer;">Upload Image</label></p>
                    <img id = "output" width="200"/>
                  </section>
                  <br>
                  <form action="/event-confirm" method="POST">
                    <button type = "submit" name = "button" id ="create-event">Create Event</button>
                </form>
                
                <script src = "/static/create-event.js"></script>
    
        
        {% endblock %}