{% extends 'base.html' %}

{% block title %}{{event.name}} - Details {% endblock %} 

{% block head %}
<link rel="stylesheet" href="/static/map-style.css"/>
<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
     #map {
        height: 60%;
        /* width: 500px; */
        background-color: grey;
        margin-top: 80px;
        margin-left:50px;
        align-items: center;
        
      }
  
      /* Optional: Makes the sample page fill the window. */
      html,
        body {
            height: 100%;
            margin: 5px;
            padding: 0;
        }
  
      /* TODO: Step 4A1: Make a generic sidebar */
      /* Styling for an info pane that slides out from the left. 
       * Hidden by default. */
      #panel {
        height: 100%;
        width: null;
        background-color: white;
        position: absolute;
        z-index: 1;
        overflow-x: hidden;
        transition: all .2s ease-out;
      }
  
      .open {
        width: 250px;
      }
  
      /* Styling for place details */
      .hero {
        width: 100%;
        height: auto;
        max-height: 166px;
        display: block;
      }
  
      .place,
      p {
        font-family: 'open sans', arial, sans-serif;
        padding-left: 18px;
        padding-right: 18px;
      }
  
      .details {
        color: darkslategrey;
      }
  
      a {
        text-decoration: none;
        color: cadetblue;
      }

      .img-fluid {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      
</style>
{% endblock %}

{% block body %} 
<div class="container">
  <div class="row">
    <div class="col">

        <h1 id="name">
          {{ event.name }}
        </h1>
      <br>
        <h5 id="time">
          {{ event.start_date.strftime("%A, %B %d %Y %I:%M %p %Z") }}
        </h5>

        <img class="img-fluid" src = "{{ event.image }}" onerror="this.onerror=null; this.remove();">
     

        <h6 id="address">
          {{ event.address }}
        </h6>
      <br>
        <h6>
            {{ event.category }}
        </h6>
        <br>
        <h6>
            {{ event.description }}
        </h6>  
        <br>

        <form action="/events/{{event.event_id}}" method="POST">
          <button type = "submit" class="btn btn-primary btn-sm" name = "button" id ="save-event">Save Event</button>
      </form>

    </div>

    <div class="col">

      <div id="map"></div> 

    </div>

   
  </div>
</div>


<!--add Remove Event button: input hidden with value as the event_id to pull from into server, name = event_id, then request.get-->

      <!-- TODO: Step 4A2: Add a generic sidebar -->
        <!-- The slide-out panel for showing place details -->
        <!-- <div id="panel"></div> -->
        <!-- Map appears here -->
        
    

    <script src = "/static/event-map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqoe-Kx7D1HiBqth0w0QWvwDmtTXtUPeg&libraries=places&callback=initialize">
    </script>


<!-- <br>
<div class="container">
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</div> -->

{% endblock %} 
