{% extends 'base.html' %}

{% block title %}{{event.name}} - Details {% endblock %} 

{% block body %} 
<h1>{{ event.name }}</h1>

    <br>
    <p>
    {{ event.start_date.strftime("%A %B %d %Y %I:%M %p") }} 
    </p>
    <br>

    <img src = "{{ event.image }}" width="400" onerror="this.onerror=null; this.remove();">

    <br>
    
    <br>
    <p>
        {{ event.address }}
    </p>
    <br>
    <p>
        {{ event.category }}
    </p>
    <br>
    <p>
        {{ event.description }}
    </p>  

    <br>
  
    <form action="/events/{{event.event_id}}" method="POST">
        <button type = "submit" name = "button" id ="save-event">Save Event</button>
    </form>

{% endblock %} 
