<!--This page is rendered when URL is "/" 
        and the user input is captured by "/create-account" app route-->

{% extends 'base.html' %}

{%block title %}Civic App Home{% endblock %}

{% block body %}

    <h1>Hello. It's the Civic App.</h1>

    <br>
    <section id="prompt-1">
        <button id="login-button"><a href = "/login">Log In</a></button>
    </section>
     
    <br>
      <section id="prompt-2">
          <button id="create-account"><a href = "/create-account">Create Account</a></Create></button>
      </section>

      <br>
      <section id="prompt-3">
        <button id="create-event"><a href = "/create-event">Create Event</a></Create></button>
    </section>
    
      <br>
      <h2>Here is where the filters will go</h2>
      <br>
      <h2>Here is where the list of events will go</h2>
      <br>
      <ul>
        {% for event in events %}
        <li> 
            <a href = "events/{{events.event_id}}">
              {{ event.name }}
            </a>
        </li>
        {% endfor %}
      </ul>
{% endblock %}
