<!--This page is rendered when URL is "/" 
        and the user input is captured by "/create-account" app route-->

{% extends 'base.html' %}

{%block title %}{% endblock %}

{% block body %}

<div class="container light">
  <div class="shadow-sm p-3 mb-5 bg-body rounded">

  <h4>Search for Events</h4>

  <br>
  
    <form action="/" method="POST" >

          <div class="form-group-row">
            <div class="col-sm-4">
              <label for="keyword" class="form-label"><b>Search</b></label>
                <input type="text" class="form-control" name = "keyword" id="keyword" placeholder="climate change">
            </div> 
          </div>
               

              <br>
              <label><b>Categories</b></label>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name = "categories" id="march" value="March">
                    <label class="form-check-label" for="march">
                        March
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name = "categories" id="protest" value="Protest">
                    <label class="form-check-label" for="protest">
                        Protest
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name = "categories" id="meeting" value="Meeting">
                    <label class="form-check-label" for="meeting">
                        Meeting
                    </label>
                  </div>
        
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name = "categories" id="canvass" value="Canvass">
                    <label class="form-check-label" for="canvass">
                        Canvass
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name = "categories" id="workshop" value="Workshop">
                    <label class="form-check-label" for="workshop">
                        Workshop
                    </label>
                  </div>
                  
                  <br>

                  <button type = "submit" class = "btn btn-primary btn-sm" onclick="save()" name = "button" id ="category_search" >Apply Filters</button>
                  <br>
                </form>
                  <button type = "button" class= "btn btn-primary btn-sm" id="clear-button" style="display:none">Clear Filter</button>
                  <br>

                  {% if session%} 
                    <button type = "button" class = "btn btn-primary btn-sm" name = "button" id = "save_to_prefs" style="display:none">Save Filter</button>
                    <br>

                 <form>
                    <button type = "submit" class= "btn btn-primary btn-sm" name = "button" id = "saved_filters">Search by My Filters</button>
                 </form>
                  {% endif %} 
  </div>
</div>


<div class="container">
  <h3 id="event-header">Upcoming Events</h3>
</div>
<br>
<ul id = "event-list">
  {% if events%}
  
    {% for event in events %}
    <div class="container">

      <div class="card mb-3">
        <div class="row g-0">
          
          <div class="col-md-4">
              <img class="img-thumbnail rounded-start" src= "{{ event.image }}" onerror="this.onerror=null; this.remove();">
          </div>

          <div class="col-md-8">
            <div class="card-body">
                <div class = "event" id ="event-id-{{event.event_id}}"> 
                  <div class= "success-msg" id ="success-msg-{{event.event_id}}">

                      <h5 class = "card-title">{{ event.name }}</h5>
                      <p class = "card-text">{{ event.category }}</p>
                      <p id="start_date">{{ event.start_date.strftime("%A, %B %d %Y %I:%M %p %Z") }}</p>
                      <p>{{ event.address}} </p>
                      <!-- <p>{{ event.description }}</p> -->

                  </div>
                </div>
              </div>

               <form action="/events/{{event.event_id}}" method="POST" >
                  <button type = "submit" class = "btn btn-primary save-button" name = "button" id ="save-event-{{event.event_id}}">Save Event</button>
                </form>


                <form action="/events/{{event.event_id}}">
                  <button class="btn btn-primary" id="event-details">See Event Details > </button>
                </form>
                <!--still some extra space at bottom of card when we condense the window -->
          </div>
      </div> 
    </div>
  </div> 


  
    {% endfor %}

  {% else %}
  <div class="container">
      <h5 id="no-events-found">No Events Found.</h5>
  </div>
</ul> 
  {% endif %}

<br>
<div class="container">
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
</div>

  <script src="/static/homepage.js"></script>
{% endblock %}
