<!--This page is rendered when URL is "/" 
        and the user input is captured by "/create-account" app route-->

{% extends 'base.html' %}

{%block title %}Civic App Home{% endblock %}

{% block body %}

    <h1>Hello. It's the Civic App.</h1>

    <br>
    <br>
    <!-- <form action="/create-account" method="POST">
        <div>
            <label for="namefield">Create an Account</label>
            <input id="namefield" type="text" name="fname" required/>
            </div>
            <br>
            <div>
                <input type="submit"/>
            </div>
        </div>
    </form> -->




{% endblock %}