<!--This page is rendered when URL is "/" 
        and the user input is captured by "/create-account" app route-->

        {% extends 'base.html' %}

        {%block title %}Civic App Home{% endblock %}
        
        {% block body %}
          
            <br>
          <h2>Search for Events</h2>
         
          
          
          
                    <form action="/" method="POST" >
                          <div class="row mb-3">
                              <label for="keyword" class="col-sm-2 col-form-label"><b>Search</b></label>
                              <div class="col-sm-10">
                              <input type="text" name = "keyword" id="keyword">
                          </div> 
                        </div>
        
                      <br>
                        <div class="row mb-3">
                          <div class="col-sm-10 offset-sm-2">
                           <div class="form-check">
                        
                            <label class="form-check-label"><b>Categories</b></label>
                            <br>
                            <br>
                              <input type="checkbox" name="categories" value="Protest">
                              <label>Protest</label>
                              <br>
                              <input type="checkbox" name = "categories" value="March">
                              <label>March</label>
                              <br>
                              <input type="checkbox" name = "categories" value="Meeting">
                              <label>Meeting</label>
                              <br>
                              <input type="checkbox" name = "categories" value="Canvass">
                              <label>Canvass</label>
                              <br>
                              <input type="checkbox" name = "categories" value="Workshop">
                              <label>Workshop</label>
                          </div>
                        </div>
                      </div>
                          <button type = "submit" onclick="save()" name = "button" id ="category_search" >Apply Filters</button>
                      </form>
                  
        
        
        
            <!-- style = "display:none" -->
            <button type = "button" id="clear-button" hidden>Clear Filter</button>
        
              <br>
              {% if session%} 
                <button type = "button" name = "button" id = "save_to_prefs" hidden>Save Filter</button>
              <br>
             <form>
                <button type = "submit" name = "button" id = "saved_filters">Search by My Filters</button>
             </form>
              {% endif %}
          
        
              <br>
              <h2>Upcoming Events</h2>
              <br>
              <ul id = "event-list">
                {% if events%}
        
                  {% for event in events %}
                  <div class = "card mb-3">
                    <div class = "row no-gutters">
                      <div class="col-md-4">
                    <img src = "{{ event.image }}" class="card-img-top" onerror="this.onerror=null; this.remove();">
                      </div>
                      <div class="col-md-8">
                    <div class = "card-body">
                      <div class = "event" id ="event-id-{{event.event_id}}"> 
                        <div class= "success-msg" id ="success-msg-{{event.event_id}}">
        
                        <h5 class = "card-title">{{ event.name }}</h5>
                        <p class = "card-text">{{ event.category }}</p>
                        <p>{{ event.start_date.strftime("%A, %B %d %Y %I:%M %p") }}</p>
                        
                        <p>{{ event.address}} </p>
                        <p>{{ event.description }}</p>
                        <a href = "#" class="btn btn-primary">Go</a>
                      
                        <span class = "buttons">
                          <form action="/events/{{event.event_id}}" method="POST" >
                            <button type = "submit" class = "save-button" name = "button" id ="save-event-{{event.event_id}}">Save Event</button>
                        </form>
                        <br>
                        <form action="/events/{{event.event_id}}">
                          <button>See Event Details</button>
                        </form>
                        </span>
                        <br>
                        <br>
        
                      </div>
                      </div>
                     </div>
                    </div>
                  </div>
                </div>
              </div>
                  {% endfor %}
        
                 {% else %}
        
                    <p>No Events Found.</p>
        
                {% endif %}
              </ul>
          <script src="/static/homepage.js"></script>
        {% endblock %}
        