<!--extend formatting from base.html-->

{% extends 'base.html' %}
{%block head%}{% endblock %} 

{% block body %}

    <h2>Welcome back, {{user.fname}} {{user.lname}}</h2>

    <br>
    <h2>My Saved Filters</h2>

    <br>
    
    <h3><u>Categories</u></h3>
        {% for category in categories %}
            <li>   
            {{ category }} 
            </li>     
        {% endfor %}
    <br>
    
    <h3><u>Search words</u></h3>  
        {% for keyword in keywords %}
            <li>   
            {{ keyword }} 
            </li>     
        {% endfor %}   
    <br>

    <h2>My Events</h2>
     {% for event in events %}
        <li>
            <a href = "/events/{{event.event_id}}">
                {{ event.name }}
              </a> 
        </li>
        {% endfor %}
    <br>
    <p><a href = "/">Search for more events</a> or <a href = "/create-event">create an event!</a></p> 
    




{% endblock %}