<!--extend formatting from base.html-->

{% extends 'base.html' %}
{%block head%}  

    <link href="/static/user-profile.css" rel="stylesheet">

{% endblock %} 

{% block body %}

<h2 id="welcome">Welcome back, {{user.fname}} {{user.lname}}</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container shadow-sm p-3 mb-5 bg-body rounded" id="account-info">
                <h4 class="heading">Account Information</h4>
                    <h7><b>Name:</b> {{user.fname}} {{user.lname}}</h7>
                        <br>
                    <h7><b>Email:</b> {{user.email}}</h7>
                        <br>
                    <h7><b>Phone:</b> {{user.phone}}</h7>
                        <br>
                    <h7><b>Zipcode:</b> {{user.zipcode}}</h7>
                        <br>
            </div>



            <div class="container shadow-sm p-3 mb-5 bg-body rounded">

                <h4 class="heading">My Saved Filters</h4>
            
                <br>
                
                <h5 class="heading2">Event Categories</h5>
                {% if categories%}    
                    {% for category in categories %}
                            <li class ="preference" id = "remove-category-{{category}}">   
                                {{ category }} 
                                <button type = "submit" class="remove-category" id="remove-category-{{category}}">
                                    x
                                </button>
                                <!--button with X-->
                                <!-- aria-label="Close" -->
                                <!-- <button type = "submit" class = "remove-category close"  id = "remove-category-{{category}}">
                                    <span aria-hidden="true">&times;</span>
                                </button> -->
                            </li>     
                        {% endfor %}

                    {% else %}
                        <h7>You haven't saved any categories yet!</h7>
                    {% endif %}
                <br>
                <br>

                <h5 class="heading2">Search Words</h5>  
                {% if keywords%}
                    {% for keyword in keywords %}
                        <li class ="preference" id = "remove-keyword-{{keyword}}">   
                            {{ keyword }} 
            
                            <button type = "submit" class = "remove-keyword" id = "remove-keyword-{{keyword}}">
                                x
                            </button>    
                        </li>     
                    {% endfor %} 

                {% else %} 

                    <h7>You haven't saved any search words yet!</h7>
                
                {% endif %}
            <br>
            <br>

        </div>

    </div>
    

    <div class="col">

        <div class="container shadow-sm p-3 mb-5 bg-body rounded">

         <h4 class="heading">My Saved Events</h4>
            <br>
            {% if saved_events%} 
        
                {% for saved_event in saved_events %}
                <li class ="saved-event" id = "remove-event-{{saved_event.event_id}}">
        
                    <!--display link and button as inline elements-->
                        <a href = "/events/{{saved_event.event_id}}">
                        {{ saved_event.name }}
                      </a> 
                
                    <button type = "submit" class = "remove-button btn btn-primary btn-sm" id = "remove-event-{{saved_event.event_id}}">Remove</button>
                </li>
                {% endfor %}
        
            {% else %}
        
                <h7>You haven't saved any events yet!</h7>
        
            {% endif %}
        </div>
       
   
    
        <div class="container shadow-sm p-3 mb-5 bg-body rounded">

            <h4 class="heading">My Created Events</h4>
            <br>

                {%if created_events%} 
                    {% for created_event in created_events %}
                        <li class ="created-event" id = "delete-event-{{created_event.event_id}}">
            
                            <a href = "/events/{{created_event.event_id}}">
                                {{ created_event.name }}
                            </a> 
                    
                            <button type = "submit" class = "delete-button btn btn-primary btn-sm" id = "delete-event-{{created_event.event_id}}">Delete Event</button>
                        </li>
                    {% endfor %}
            
                {% else %}
                        <h7>You haven't created any events yet!</h7>
                {% endif %}
            <br>
        </div>

        </div>

    </div>

</div>
    
        

    

    <!-- <p><a href = "/">Search for more events</a> or <a href = "/create-event">create an event!</a></p>  -->
    
    <script src= "/static/user-profile.js"></script>

{% endblock %}